.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    border: 2px solid #ddd; /* Add border around the table */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #f8f9f8;
}
